.mainPage {
    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 72px;
    }


    // .allCards {
    //     display: flex;
    //     flex-direction: row;

    //     justify-content: space-around;

    .allCards {
        // dis/z-wrap: wrap;
        // display: grid;
        // width: 50%;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 65% 33%;
        grid-template-rows: 50% 50%;
        column-gap: 2%;

        // columns: ;

        .leftCards {
            display: grid;
            grid-template-columns: 49% 49%;
            // grid-template-rows: 50% 50%;
            column-gap: 2%;
            // row-gap: 1%;
        }
    }

    //}
}