.tabWrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #DADADA;

    .tab {
        // padding: 1em;
        cursor: pointer;
        // display: flex;
        // padding: 0px 40px 24px 40px;
        // justify-content: center;
        // align-items: flex-start;
        // gap: 10px;
        color: var(--system-colors-secondary, #313037);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin: 0 0.5em;
        /* 150% */

        &.active {
            border-bottom: 2px solid black;
        }
    }
}