.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    .title {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;

        a {
            color: #313037;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
            text-decoration: none;
            /* 150% */
        }
    }

    .form {
        margin: 3em auto 5em;
        display: inline-flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        background-color: #F3F3F3;
        border: 1px solid #DADADA;

        .allInputs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        .forgot {
            color: #313037;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;

            margin-bottom: 2em;
            /* 125% */
        }

        .sign {
            color: #8D8E97;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            margin: 1em auto 0;

            /* 125% */
            a {
                color: #2231AA;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                text-decoration: none;
            }
        }
    }
}