.navigation {
    display: flex;
    justify-content: space-between;
    padding: 4.5em 0;

    .numPage {
        width: 20%;
        display: flex;
        justify-content: space-between;
    }

    .prev {
        display: flex;
        flex-direction: row;
        color: #8D8E97;

        path {
            fill: #8D8E97;
        }
    }

    .next {
        display: flex;
        flex-direction: row;
    }

    .page {
        // width: 50%;
        // display: flex;
        // justify-content: space-between;
        // padding: 1em;

        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;

        padding: 0 10px;

        // 

        &:hover {
            color: #2231AA;
            // background-color: aqua;
        }
    }
}