.dark {
  background-color: #313037;
  color: #f3f3f3;

  // .main {
  //   .cardContent {
  //     .card {
  //       .allText {
  //         .text {
  //           .header {
  //             color: #f3f3f3;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.light {
  background-color: #f3f3f3;
  color: #313037;
  /* color: #313037; */
}

.main {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}